# OSX
#
etui/.DS_Store

# Xcode
#
etui/build/
etui/*.pbxuser
etui/!default.pbxuser
etui/*.mode1v3
etui/!default.mode1v3
etui/*.mode2v3
etui/!default.mode2v3
etui/*.perspectivev3
etui/!default.perspectivev3
etui/xcuserdata
etui/*.xccheckout
etui/*.moved-aside
etui/DerivedData
etui/*.hmap
etui/*.ipa
etui/*.xcuserstate
etui/**/.xcode.env.local

# Android/IntelliJ
#
etui/.idea
etui/.gradle
etui/local.properties
etui/*.iml
etui/*.hprof
etui/.cxx/
etui/*.keystore
etui/!debug.keystore

# node.js
#
etui/node_modules/
etui/npm-debug.log
yetui/arn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

etui/**/fastlane/report.xml
etui/**/fastlane/Preview.html
etui/**/fastlane/screenshots
etui/**/fastlane/test_output

# Bundle artifact
etui/*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
etui/.metro-health-check*

# testing
etui/coverage

# Yarn
etui/.yarn/*
etui/!.yarn/patches
etui/!.yarn/plugins
etui/!.yarn/releases
etui/!.yarn/sdks
etui/!.yarn/versions
